.intro {
  overflow-x: hidden;
  position: absolute;
  z-index: 2;
}

.intro__svgLetters {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro__divConatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.intro__div {
  height: 100vh;
  width: 50%;
  background-color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.btn-animation {
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.btn-animation:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  color: #beb0d1;
}

.btn-animation::after {
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translate(-50%) scale(0);
          transform: translate(-50%) scale(0);
  height: .1rem;
  width: 25%;
  background-color: #beb0d1;
  content: "";
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.btn-animation:hover::after {
  -webkit-transform: translate(-50%) scale(1);
          transform: translate(-50%) scale(1);
}

.btn-animation:focus {
  outline: none;
  color: #beb0d1;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-animation:focus::after {
  -webkit-transform: translate(-50%) scale(1);
          transform: translate(-50%) scale(1);
}

.scrollSpy {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  color: #beb0d1 !important;
}

.container {
  padding: 5rem 0;
}

section {
  background-color: #ffffff;
}

.headingNarrow {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #ffffff;
  border: 1px solid transparent;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
          clip-path: polygon(100% 0, 0% 100%, 0 0);
  -webkit-transition: width .5s ease, height .5s ease;
  transition: width .5s ease, height .5s ease;
}

.headingNarrow--active {
  width: 5rem;
  height: 5rem;
}

.section-heading {
  font-size: 3.6rem;
}

.section-subheading {
  font-size: 2.4rem;
}

.navBar {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

.navBar__desktopMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5rem;
}

.navBar__btn {
  position: relative;
  margin-right: 2rem;
  padding: 2rem;
  text-decoration: none;
  color: #0e0f19;
  border: 1px solid transparent;
  cursor: pointer;
}

.navBar__hamburgerButton {
  visibility: hidden;
}

.aboutMeSection__descriptionList {
  -ms-grid-columns: 25% 25% 30% 25%;
      grid-template-columns: 25% 25% 30% 25%;
}

.portfolioSection__card {
  height: 40rem;
}
/*# sourceMappingURL=large.css.map */