// (min-width: 768px)

@import "./colors";
@import "./mixins";
@import "./components";

section {
    font-size: 1.6rem;
}

.section-heading {
    font-size: 3.4rem;
}

.section-subheading {
    font-size: 2.2rem;
}

// ------------ PROJECT ------------ //

.projectSection {
    &__container {
        .image {
            max-width: 80%;
        }
        .description {
            max-width: 80%;
        }
    }
}
