@import "./colors";
@import "./mixins";
@import "./components";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Dosis", sans-serif;
    color: $font-color;
    scroll-behavior: smooth;
    background-color: $main-color;
    font-weight: bold;
}

main {
    transition: opacity .25s ease;
}

// ------------ SECTIONS ------------ //

section {
    font-size: 1.4rem;
    scroll-margin-top: 8rem;
}

.section-heading {
    width: 100%;
    color: $theme-color;
    padding: 6.2rem;
    text-align: center;
    font-size: 3.2rem;
    text-transform: uppercase;
    background-color: $main-color;
    transition: background-color .5s ease, color .5s ease;
    white-space: pre-line;

    &--active {
        background-color: $theme-color;
        color: $main-color;
    }

}

.section-subheading {
    @include flexColumn;
    width: 100%;
    padding: 6.2rem 2rem;
    font-size: 2rem;
    color: $theme-color;
    text-transform: uppercase;
}

// ------------ NAV-BAR ------------ //

.navBar {
    @include flexRow;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    height: 8rem;
    width: 100%;
    z-index: 2;
    background-color: $main-color;

    &__logo {
        position: absolute;
        left: 2.5rem;
        border: 1px solid transparent;
        background: transparent;

        img {
            height: 4rem;
            width: auto;
        }

        &:focus {
            outline: none;
            border: 1px solid $theme-color;
            border-radius: 1rem;
        }
    }

    &__hamburgerButton {
        @include flexColumn;
        padding: 3rem 3.5rem;
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer;
        transition: border .25s ease, border-radius .25s ease;

        &--active .navBar__hamburgerButtonBar {
            width: 4rem;
            transform: rotate(45deg);
            background-color: $theme-color;
            opacity: 1;
        }

        &--active .navBar__hamburgerButtonBar::before {
            background-color: transparent;
        }

        &--active .navBar__hamburgerButtonBar::after {
            width: 4rem;
            transform: rotate(-90deg) translate(15px);
            background-color: $theme-color;
        }
    }

    &__hamburgerButtonBar,
    &__hamburgerButtonBar::before,
    &__hamburgerButtonBar::after {
        position: absolute;
        height: .5rem;
        border-radius: 1rem;
        background-color: $font-color;
        transition: width .25s ease, background-color .25s ease, transform .25s ease, left .25s ease;
    }

    &__hamburgerButtonBar {
        width: 2rem;

        &::before {
            width: 4rem;
            right: 0;
            bottom: 1.5rem;
            content: "";
        }

        &::after {
            width: 1rem;
            right: 0;
            top: 1.5rem;
            content: "";
        }
    }

    &__hamburgerButton:hover {

        .navBar__hamburgerButtonBar,
        .navBar__hamburgerButtonBar::before,
        .navBar__hamburgerButtonBar::after {
            width: 4rem;
        }
    }

    &__hamburgerButton:focus {
        outline: none;
        border: 1px solid $theme-color;
        border-radius: 1rem;
    }

    &__desktopMenu {
        display: none;
    }
}

// ------------ HAMBURGER MENU ------------ //

.hamburgerMenu {
    position: fixed;
    top: -50%;
    height: 50%;
    width: 100%;
    padding: 1rem 1.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
    column-gap: 1rem;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bold;
    transition: top .25s ease;

    &__field {
        height: 100%;
    }

    &__field:hover &__btn {
        border-radius: 1rem;
        transform: scale(.95);
        color: $theme-color;
        border: 2px solid $theme-color;
    }

    &__btn:focus {
        outline: none;
        border-radius: 1rem;
        transform: scale(.95);
        color: $theme-color;
        border: 2px solid $theme-color;
    }

    &__btn {
        @include flexColumn;
        font-size: 2rem;
        height: 100%;
        color: $font-color;
        text-decoration: none;
        background-color: $main-color;
        border: 2px solid $font-color;
        transition: border-radius .25s ease, border .25s ease, transform .25s ease;
    }

    &--active {
        top: 8rem;
    }
}

// ------------ HOME ------------ //

.homeSection {
    height: 100vh;
    
    &__headerImage--project1 {
        height: 100%;
        width: 100%;
        overflow: hidden;
        @include images("../img/swiatlo/original/7.jpg")
    }
    
    &__headerImage--project2 {
        height: 100%;
        width: 100%;
        overflow: hidden;
        @include images("../img/hala/original/20.jpg")
    }
    
    &__headerImage--project3 {
        height: 100%;
        width: 100%;
        overflow: hidden;
        @include images("../img/kino/original/6.jpg")
    }

    &__headerImage--project4 {
        height: 100%;
        width: 100%;
        overflow: hidden;
        @include images("../img/kolo/original/10.jpg")
    }

    &__headerImage--project5 {
        height: 100%;
        width: 100%;
        overflow: hidden;
        @include images("../img/hotel/original/6.jpg")
    }

    &__headerImage--project6 {
        height: 100%;
        width: 100%;
        overflow: hidden;
        @include images("../img/zycie/original/3.jpg")
    }
}

// ------------ PROJECT ------------ //

.projectSection {
    &__container {
        @include flexColumn;
        
        .image {
            display: block;
            margin: .25rem auto;
            height: auto;
            max-width: 95%;
        }
        
        .description {
            margin: 1rem 0;
            padding: 0 2rem;
            max-width: 95%;
            text-align: justify;
            text-justify: inter-word;
            border: 1px solid $theme-color;
            white-space: pre-line;
        }

        .photo-container {
            @include flexRow;
            max-width: 95%;
        }
    }
}

// ------------ FOOTER ------------ //

.footerSection {
    bottom: 0;
    background-color: $main-color;
    font-size: 1.4rem;
    
    &__box {
        @include flexRow;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-weight: bold;
    }
    
    &__menu {
        @include flexRow;

        &-btn {
            padding: 2rem .5rem;
            text-decoration: none;
            color: $font-color;
            cursor: pointer;
        }
    }

    &__map {
        @include flexRow;
        flex-wrap: wrap;

        p {
            padding: .2rem 1rem;
            color: $theme-color;
        }
    }

    &__bottom-text {
        font-size: 1.2rem;
        text-align: center;
        padding: .2rem;
    }
}

hr {
    border: .1px solid $theme-color;
}