// (min-width: 992px)

@import "./colors";
@import "./mixins";
@import "./components";

.section-heading {
    font-size: 3.6rem;
}

.section-subheading {
    font-size: 2.4rem;
}

.navBar {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;

    &__desktopMenu {
        @include flexRow;
        margin-right: 5rem;
    }
    
    &__btn {
        position: relative;
        margin-right: 2rem;
        padding: 2rem;
        text-decoration: none;
        color: $font-color;
        border: 1px solid transparent;
        cursor: pointer;
    }

    &__hamburgerButton {
        visibility: hidden;
    }
}

// ------------ PROJECT ------------ //

.projectSection {
    &__container {
        .image {
            max-width: 55%;
        }

        .description {
            max-width: 55%;
        }

        .photo-container {
            max-width: 75%;
        }
    }
}

